<a href="https://colab.research.google.com/github/Umair44296/AI-LAB3/blob/main/LAB_4_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np





arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])

split_arrays = np.split(arr, 3)
print("Split arrays:", split_arrays)

total_sum = np.sum(arr)
print("Sum of all numbers:", total_sum)

Split arrays: [array([1, 2, 3]), array([4, 5, 6]), array([7, 8, 9])]
Sum of all numbers: 45

In [2]:
arr2 = np.array([2, 6, 10, 3, 14, 18, 7, 1, 13])

result = arr2[(arr2 > 5) & (arr2 < 15)]
print("Numbers greater than 5 and less than 15:", result)

Numbers greater than 5 and less than 15: [ 6 10 14  7 13]

In [3]:
set1 = {0, 2, 4, 6, 8, 10}


set2 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

print("set1:", set1)
print("set2:", set2)

# a) Remove second and fifth element of set2

set2_list = list(set2)
set2.remove(set2_list[1])  # remove second element
set2.remove(set2_list[4])  # remove fifth element
print("set2 after removing 2nd and 5th elements:", set2)

# b) set3 = intersection of set2 and set1
set3 = set2.intersection(set1)
print("set3 (intersection):", set3)

set1: {0, 2, 4, 6, 8, 10}
set2: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set2 after removing 2nd and 5th elements: {1, 3, 4, 6, 7, 8, 9, 10}
set3 (intersection): {8, 10, 4, 6}

In [4]:
students = {
      "SAP001": {"sapid": "SAP001", "name": "Alice",   "age": 20, "semester": "Six"},
          "SAP002": {"sapid": "SAP002", "name": "Bob",     "age": 21, "semester": "Six"},
              "SAP003": {"sapid": "SAP003", "name": "Charlie", "age": 22, "semester": "Six"},
                  "SAP004": {"sapid": "SAP004", "name": "Diana",   "age": 20, "semester": "Six"},
                      "SAP005": {"sapid": "SAP005", "name": "Eve",     "age": 23, "semester": "Six"},
                      }

print("Before update:")
for key in students:
                          print(students[key])

                          # Update Semester Six â†’ Seven for all students
                          for key in students:
                              students[key]["semester"] = "Seven"

                              print("\nAfter update:")
                              for key in students:
                                  print(students[key])

Before update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Six'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Six'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Six'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Six'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Six'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Six'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Six'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Six'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Six'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Six'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Six'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

After update:
{'sapid': 'SAP001', 'name': 'Alice', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP002', 'name': 'Bob', 'age': 21, 'semester': 'Seven'}
{'sapid': 'SAP003', 'name': 'Charlie', 'age': 22, 'semester': 'Seven'}
{'sapid': 'SAP004', 'name': 'Diana', 'age': 20, 'semester': 'Seven'}
{'sapid': 'SAP005', 'name': 'Eve', 'age': 23, 'semester': 'Seven'}

ACTIVITY

In [5]:
# Creating a set
pset = {1, 2, 3, 4, 5}
print(pset)
print("Type of pset is : ", type(pset))

# Creating a set using constructor
pset1 = set([3, 4, 5, 6, 7])
print(pset1)
print("Type of pset is : ", type(pset1))

{1, 2, 3, 4, 5}
Type of pset is :  <class 'set'>
{3, 4, 5, 6, 7}
Type of pset is :  <class 'set'>

In [6]:
pset2 = {5, 20, 11, 21, 8, 9}
print(pset2)

pset2.add(10)
print("pset after adding item value 10: ", pset2)

pset2.remove(20)   # Error if item is not in the set
pset2.discard(8)
pset2.discard(8)

print(pset2)

{20, 5, 21, 8, 9, 11}
pset after adding item value 10:  {20, 5, 21, 8, 9, 10, 11}
{5, 21, 9, 10, 11}

In [7]:



#Union of two sets
print("pset1",pset1)
print("pset2",pset2)
pset2.remove(5)
print("pset1",pset1)
union_set = pset1.union(pset2)
print("Union set after union :", union_set)
#Intersection of two sets
pset1.add(10)
pset3 = pset1.intersection(pset2)
print("Result of intersection of two sets : pset1 and pset2",pset3)
# Difference of two sets
pset4 = union_set.difference(pset2)
print("Difference of two sets : union_set and pset2",pset4)

pset1 {3, 4, 5, 6, 7}
pset2 {5, 21, 9, 10, 11}
pset1 {3, 4, 5, 6, 7}
Union set after union : {3, 4, 5, 6, 7, 9, 10, 11, 21}
Result of intersection of two sets : pset1 and pset2 {10}
Difference of two sets : union_set and pset2 {3, 4, 5, 6, 7}

In [8]:
dict1 = {
      'Name': 'Ahmed',
          'Age': 12,
              'Class': 'Five'
                  }
print("Dictionary No 1: ", dict1)
print("Type of dict1 is :", type(dict1))
                  # Accessing Items
print ("dict1['Name']: ", dict1['Name'])
print ("dict1['Age']: ", dict1['Age'])
                  #get method
x = dict1.get('Age')
print("Getting item through get method",x)
                  #Key getting
y = dict1.keys()
print("Getting keys through get method",y)

Dictionary No 1:  {'Name': 'Ahmed', 'Age': 12, 'Class': 'Five'}
Type of dict1 is : <class 'dict'>
dict1['Name']:  Ahmed
dict1['Age']:  12
Getting item through get method 12
Getting keys through get method dict_keys(['Name', 'Age', 'Class'])